<!DOCTYPE html>
<html lang="en" ng-app="PopQuizApp">

<head>
    <meta charset="UTF-8">
    <title>POP Quiz</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.css" />
    <link rel="stylesheet" href="/css/main.css" />
</head>

<body ng-cloak>
    <div class="col-sm-2 col-lg-4"></div>
    <div ng-controller="PopQuizCtrl as ctrl" class="col-sm-8 col-lg-4 popquiz-page">
        <h1> POP QUIZ </h1>

        <form name="popquizForm" ng-submit="ctrl.submitQuiz()" novalidate>
            <div class="form-group">
                <label for="email">{{ctrl.quiz.question}}</label>
            </div>

            <div class="form-group">
                <label for="answer">Answers : </label>
                <br/>
                <div ng-repeat="answer in ctrl.quiz.answers">
                <input id="answer" name="answer" type="radio" ng-model="ctrl.finalanswer.value" value="{{answer.value}}" /> {{answer.name}}
                <br/>
                </div>
            </div>

            <div class="form-group">
                <label for="Comments">Comments</label>
                <input id="Comments" name="Comments" type="text" ng-model="ctrl.finalanswer.comments" class="form-control" />
            </div>
            
            <div class="form-group">
                <hr/>
                <input id="submit" name="submit" type="submit" class="btn btn-success" /> 
                <button id="next" type="button" ng-click="ctrl.initForm()" class="btn btn-primary">Next</button>
                <br/>
                <br/>
                <div class="alert alert-success" ng-hide ng-show="ctrl.finalanswer.isCorrect == true"><strong>Correct!</strong></div>
                <div class="alert alert-danger" ng-hide ng-show="ctrl.finalanswer.isCorrect == false"><strong>Incorrect!</strong></div>
                <br/>

                {{ ctrl.finalanswer.isCorrect}}
            </div>
        </form>

        <br/>

        <div ng-repeat="summaryAnswer in ctrl.summaryAnswers">
            <div class="form-group">
                    <label for="email">{{summaryAnswer.question}}</label>
            </div>
            <div class="form-group">
                <label for="answer">Answers : </label>
                <br/>
                <br/>
                <ul ng-repeat="answer in summaryAnswer.answers">
                    <li>{{answer.name}}<p> <-- Your Answer </p><p> <-- Correct Answer </p></li>
                </ul>
            </div>
            <br/>
            <br/>
            <div class="alert alert-success" ng-show="summaryAnswers.isCorrect == true"><strong>Correct!</strong></div>
            <div class="alert alert-danger" ng-show="summaryAnswers.isCorrect == false"><strong>Incorrect!</strong></div>
        </div>
        <button id="end" type="button" ng-click="ctrl.resetForm()" class="btn btn-primary">End</button>
    </div>

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/app/Modules.js"></script>
    <script src="/app/MainCtrl.js"></script>
</body>

</html>